@font-face {
    font-family: "Poppins";
    src: url('./../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Poppins 500";
    src: url('./../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Poppins 600";
    src: url('./../fonts/Poppins-SemiBold.ttf') format('truetype');
}

:root {
    --c-white: #fff;
    --c-black: #000;
    --c-purple: #5932EA;
    --c-gray: #757575;
    --c-light-gray: #9197B3;
    --c-light-gray--shadow: rgba(226, 236, 249, 0.5);

    --c-main: #fafbff;

    --c-black--table: #292d32;
    --c-gray--table: #b5b7c0;
    --c-gray--table-border: #eeeeee;

    --c-green--status: #008767;
    --c-green--status-border: #00b087;
    --c-green--status-bg: #16c098;
    --c-green--status-bg-light: #16c09861;

    --c-red--status: #df0404;
    --c-red--status-border: #df0404;
    --c-red--status-bg: #ffc5c5;

    --c-black--pagination: #404b52;
    --c-black--pagination-border: #eeeeee;
    --c-black--pagination-bg: #f5f5f5;

    --base-font-size: 14px;
    --base-letter-spacing: 0.01;
    --base-opacity--hover: .75;

    --font-size--26: 1.857em;
    --font-size--24: 1.714em;
    --font-size--22: 1.571em;
    --font-size--12: 0.857em;
    --font-size--10: 0.714em;

    --margin--54: 3.857em;

    --padding--36: 2.571em;
    --padding--28: 2em;

    --gap--20: 1.429em;
    --gap--12: 0.857em;
    --gap--10: 0.714em;
    --gap--8: 0.571em;
    --gap--4: 0.286em;

    --size--42: 3em;
    --size--37: 2.643em;
    --size--24: 1.714em;
    --size--16: 1.143em;

    --card--inner-padding: 38px;
    --side-menu-width: 306;

    --base-transition: 0.5s;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font-family: "Poppins";
    font-size: var(--base-font-size);
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--c-black);
}

a:focus {
    outline: 2px solid var(--c-purple);
    border-radius: 5px;
}

ul {
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: var(--base-font-size);
    color: var(--c-black);
}

.page {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.side-menu-controls {
    position: absolute;
    top: 10px;
    left: 2.5%;
    transition: var(--base-transition);
    display: none;
    z-index: 2;
}

.side-menu-controls.side-menu-controls--active {
    left: calc((var(--side-menu-width) + 20) * 1px);
}

.side-menu-controls.side-menu-controls--active .side-menu-controls__close {
    display: block;
}

.side-menu-controls.side-menu-controls--active .side-menu-controls__menu {
    display: none;
}

.side-menu-controls.side-menu-controls--active+.side-menu {
    margin-left: 0;
}

.side-menu-controls__close,
.side-menu-controls__menu {
    min-width: 25px;
    min-height: 25px;
    width: 25px;
    height: 25px;
}

.side-menu-controls__close {
    display: none;
}

.side-menu {
    display: flex;
    flex-direction: column;
    max-width: calc(var(--side-menu-width) * 1px);
    width: 100%;
    padding: var(--padding--36) var(--padding--28);
    box-shadow: 0 10px 60px 0 var(--c-light-gray--shadow);
    overflow-x: auto;
    transition: var(--base-transition);
    background-color: var(--c-white);
}

.logo {
    display: flex;
    align-items: center;
    column-gap: var(--gap--88);
}

.logo:hover,
.logo:focus {
    opacity: var(--base-opacity--hover);
}

.logo__icon {
    min-width: var(--size--37);
    min-height: var(--size--37);
    width: var(--size--37);
    height: var(--size--37);
    color: inherit;
}

.logo__desc {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: var(--gap--4);
}

.logo__text {
    font-family: "Poppins 600", sans-serif;
    font-size: var(--font-size--26);
    letter-spacing: calc(var(--base-letter-spacing) * 1em);
}

.logo__version {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size--10);
    letter-spacing: calc(var(--base-letter-spacing) * -1em);
    color: var(--c-gray);
}

.main-nav {
    margin: var(--margin--54) 0;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: var(--gap--20);
}

.main-nav__item {
    display: flex;
    flex-direction: row;
}

.main-nav__item-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    column-gap: 1em;
    padding: 10px 8px 10px 11px;
    border-radius: 8px;
    color: var(--c-light-gray);
    letter-spacing: calc(var(--base-letter-spacing) * -1em);
}

.main-nav__item-container:hover,
.main-nav__item-container:focus {
    background-color: var(--c-purple);
    cursor: pointer;
    color: var(--c-white);
    outline: none;
}

.main-nav__item-icon {
    min-width: var(--size--24);
    min-height: var(--size--24);
    width: var(--size--24);
    height: var(--size--24);
    color: inherit;
}

.main-nav__item-chevron {
    min-width: var(--size--16);
    min-height: var(--size--16);
    width: var(--size--16);
    height: var(--size--16);
    margin-left: auto;
    color: inherit;
}

.user {
    margin-top: auto;
}

.user__container {
    display: flex;
    align-items: center;
    column-gap: var(--gap--12);
}

.user__container:hover,
.user__container:focus {
    opacity: var(--base-opacity--hover);
}

.user__avatar {
    width: var(--size--42);
    height: var(--size--42);
    border-radius: 50%;
}

.user__name {
    font-family: "Poppins 600", sans-serif;
    color: var(--c-black);
    letter-spacing: calc(var(--base-letter-spacing) * 1em);
}

.user__role {
    font-size: var(--font-size--12);
    letter-spacing: calc(var(--base-letter-spacing) * 1em);
    color: var(--c-gray);
}

.main {
    flex-grow: 1;
    background-color: var(--c-main);
    padding: 41px 0;
    overflow-x: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    max-width: 85.362%;
    margin: 0 auto;
}

.greetings {
    font-size: var(--font-size--24);
}

.card {
    background-color: var(--c-white);
    box-shadow: 0 10px 60px 0 var(--c-light-gray--shadow);
    border-radius: 25px;
    padding: 32px 0;
}

.search-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--card--inner-padding);
    padding-right: var(--card--inner-padding);
    margin-bottom: 27px;
}

.search-panel__heading {
    font-family: "Poppins 600", sans-serif;
    font-size: var(--font-size--22);
    letter-spacing: calc(var(--base-letter-spacing) * -1em);
}

.search-panel__status {
    letter-spacing: calc(var(--base-letter-spacing) * -1em);
    color: var(--c-green--status-bg);
    margin-top: 7px;
}

.search {
    /*  */
}

.search__label {
    position: relative;
}

.search__icon {
    min-width: 24px;
    min-height: 24px;
    width: 24px;
    height: 24px;
    color: var(--c-gray);
    position: absolute;
    top: 0;
    left: 6px;
}

.search__input {
    font-size: var(--font-size--12);
    letter-spacing: calc(var(--base-letter-spacing) * -1em);
    border-radius: 10px;
    background-color: #f9fbff;
    padding: 15px 5px 15px 38px;
    width: 216px;
    margin-right: 14px;
}

.search__input:focus {
    outline: 2px solid var(--c-purple);
}

.table {
    font-family: "Poppins 500", sans-serif;
    letter-spacing: calc(var(--base-letter-spacing) * -1em);
}

.table__header,
.table__body,
.table__footer {
    padding-left: var(--card--inner-padding);
    padding-right: var(--card--inner-padding);
}

.table__header {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid var(--c-gray--table-border);
}

.table__body {
    display: flex;
    flex-direction: column;
}

.table__row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--c-gray--table-border);
    padding: 20px 0;
}

.table__col {
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}

.table__col--name {
    flex-basis: 170px;
}

.table__col--company {
    flex-basis: 130px;
}

.table__col--phone {
    flex-basis: 155px;
}

.table__col--email {
    flex-basis: 208px;
}

.table__col--country {
    flex-basis: 140px;
}

.table__col--status {
    flex-basis: 85px;
    text-align: center;
    flex-grow: 0;
}

.table__header .table__col {
    color: var(--c-gray--table);
}

.table__body .table__col {
    color: var(--c-black--table);
}

.table__body .table__col--email,
.table__body .table__col--phone {
    padding: 5px;
}

.table__body .table__col--status {
    text-overflow: clip;
    overflow: visible;
}

.table__col .member-status {
    min-width: 82px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.member-status {
    border-radius: 4px;
    text-align: center;
    padding: 3px 12px;
}

.member-status--active {
    background-color: var(--c-green--status-bg-light);
    border: 1px solid var(--c-green--status-border);
    color: var(--c-green--status);
}

.member-status--inactive {
    background-color: var(--c-red--status-bg);
    border: 1px solid var(--c-red--status-border);
    color: var(--c-red--status);
}

.table__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    color: var(--c-gray--table);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: var(--gap--10);
    flex-basis: 271px;
    color: var(--c-black--pagination);
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: var(--font-size--12);
}

.pagination__item--action {
    border-radius: 4px;
    border: 1px solid var(--c-black--pagination-border);
    background-color: var(--c-black--pagination-bg);
}

.pagination__item--action:hover,
.pagination__item--action:focus {
    cursor: pointer;
    background-color: var(--c-purple);
    border-color: var(--c-purple);
    outline: none;
    color: var(--c-white);
}

@media (max-width: 1199.98px) {
    .side-menu-controls {
        display: block;
    }

    .side-menu {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin-left: calc(var(--side-menu-width) * -1px);
        z-index: 1;
    }
}

@media (max-width: 767.98px) {
    .main-container {
        max-width: 80%;
    }

    .table__header {
        display: none;
    }

    .table__body {
        padding: 0;
    }
    
    .table__body .table__row-container {
        display: block;
        padding-left: var(--card--inner-padding);
        padding-right: var(--card--inner-padding);
    }

    .table__body .table__col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid var(--c-gray--table-border);
        padding: 8px 0;
    }

    .table__body .table__col+.table__col {
        margin-top: 8px;
    }

    .table__body .table__col::before {
        content: attr(data-label);
    }

    .table__body .table__col:last-child {
        border: none;
    }

    .table__footer {
        flex-direction: column;
        row-gap: 30px;
    }

    .pagination {
        flex-basis: auto;
    }
}

@media (max-width: 575.98px) {
    .side-menu-controls {
        left: 1%;
    }

    .main-container {
        max-width: 85%;
    }

    .search-panel {
        flex-direction: column;
        row-gap: 10px;
    }

    .search,
    .search__input {
        width: 100%;
    }

    .search-panel__status {
        text-align: center;
    }
}

@media (max-width: 424.98px) {
    :root {
        --base-font-size: 13px;
        --card--inner-padding: 20px;
    }

    .side-menu-controls.side-menu-controls--active {
        left: calc((var(--side-menu-width) + -45) * 1px);
    }
}